@typeparam TValue
@inherits Microsoft.AspNetCore.Components.Forms.InputBase<TValue>

<select id="@Id" class="select2 @Css">
    @if (@EmptyText)
    {
        <option @key="@String.Empty" value="@String.Empty">-NOTSET-</option>
    }
    @if (DataSource != null)
    {
        foreach (var item in DataSource)
        {
            if (item.Key == Value?.ToString())
            {
                <option @key="@item.Key" value="@item.Key" selected="selected">
                    @((MarkupString)item.Value)
                </option>
            }
            else
            {
                <option @key="@item.Key" value="@item.Key">
                    @((MarkupString)item.Value)
                </option>
            }
        }
    }
</select>